<h1>about</h1>
<div id="about"> 	
	Levelous is a reputation-based community for sharing photography in which hearts are the currency of choice. Your reputation and level increase if your pics get hearted or if someone hearts a pic you've already hearted. You can also complete quests to increase your reputation and earn some extra hearts.
</div>
