<h1>terms</h1>
<div id="terms">
<br/>
	By using Levelous.com, you signify that you have read, understand and agree to be bound by these Terms and conditions.
<br/><br/>
	Levelous is concerned about the safety and privacy of all its Users, especially children. Therefore, children under the age of 13 are not permitted to use Levelous.com.
<br/><br/>
	Levelous reserves the right to remove any image for any reason whatsoever. Specifically, any image uploaded that is pornographic or offensive in nature (including nudity, violence, sexual acts, or sexually provocative images.), infringes upon copyrights not held by the uploader, is illegal or violates any laws, will be immediately deleted and the IP address of the uploaded reported to authorities. Violating these terms will result result in termination of your ability to upload further images.
<br/><br/>
	We reserve the right to ban any individual uploader or website domain from using our servies for any reason.
<br/><br/>
	We cannot be held liable for any damages. All data, photographs, messages, graphics, comments, text, tags, or other materials ("Content"), are the sole responsibility of the person from whom such Content originated. You, and not Levelous, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available through Levelous. Levelous does not control the Content posted and does not guarantee the accuracy or integrity of such Content.
<br/><br/>
	Levelous shall not be liable for any statements or conduct of any third party using the service. By using Levelous you may be exposed to Content that is indecent, objectionable or offensive.
<br/><br/>
	Levelous will not be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content. Levelous will not be liable for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available on Levelous. Levelous assumes no responsibility for the timeliness, deletion, miss-delivery or failure to store any User content, communication or personal settings.
<br/><br/>
	You agree to indemnify and hold Levelous, its officers and employees exempt from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, transmit, post or otherwise make available through Levelous.
<br/><br/>
	Choice of Law and Forum
<br/><br/>
	The Terms of Service and the relationship between you and Levelous shall be governed by the laws of the Commonwealth of Puerto Rico without regard to its conflict of law provisions. You and Levelous agree to submit to the personal and exclusive jurisdiction of the courts located within San Juan, Puerto Rico.
<br/><br/>
	Statute of Limitations
<br/><br/>
	You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.
<br/><br/>
	Improper Use of Data
<br/><br/>
	Data mining, "scrapping", and/or unauthorized crawling of Levelous is prohibited unless explicit permission is given. Using any data from Levelous (including data from images and/or users) that is not available through authorized channels is also prohibitied unless explicit permission is given.
<br/><br/>
	Copyright
<br/><br/>
	By uploading your photos to Levelous you give Levelous permission to use or distribute your photos on Levelous.com or affiliated sites
<br/><br/>
	All images uploaded are copyright © their respective owners
<br/><br/>
	If you are a copyright owner or an agent thereof and believe that any User Submission or other content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing Levelous with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
<br/><br/>

	1. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;<br/>
	2. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;<br/>
	3. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the service provider to locate the material;<br/>
	4. Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and, if available, an electronic mail;<br/>
	5. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and<br/>
	6. A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
<br/><br/><br/>

	You acknowledge that if you fail to comply with all of the requirements of this Section 8(A) your DMCA notice may not be valid.
<br/><br/>
	B. Counter-Notice. If you believe that your User Submission that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owners agent, or pursuant to the law, to post and use the content in your User Submission, you may send a counter-notice containing the following information to Levelous:
<br/><br/>
	1. Your physical or electronic signature;<br/>
	2. Identification of the content that has been removed or to which access has been disabled and the location at which the content appeared before it was removed or disabled;<br/>
	3. A statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a misidentification of the content; and<br/>
	4. Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in San Juan, Puerto Rico and a statement that you will accept service of process from the person who provided notification of the alleged infringement.<br/><br/><br/>
	
	Mailing Address:<br/><br/>
	Attention: Andrés Bonilla<br/>
	Levelous<br/>
	Villas del Rio calle 16, apt. c17<br/>
	Bayamón, Puerto Rico 00959
	
	

</div>
