<h1>following</h1>
<div id="feedColumn">	
	<% unless @following.count == 0 %>
		<% @following.each do |user| %>
			<% link_to user do %>
				<%=image_tag user.avatar.url(:thumb), :alt=>"" %>
			<% end %>	
		<% end %>
	<% else %>
		Not Following Anyone
	<% end %>
</div>