	<div id="browseLink">
		<%= link_to 'browse', pics_url %>
	</div> <!-- end signup -->
	<div id="box">
		<div id="slogan">
			level up, son
		</div>
		<div id="pics">
			<% @pics.each do |pic| %>
				<%= render :partial => "pic", :object => pic %>
			<% end %>
		</div>
	</div> <!-- end box -->
