<p>
  <% form_for :tag, :html=>{:id => 'add_tag_form'}, :url => url_for(:controller => 'tags', :action => 'create') do %>
    <b>Add tag: </b><input id="tag_name" name="tag[name]" size="30" type="text" /> <%= submit_tag "Add" %>
  <% end %>
</p>