<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Levelous | A Community for Photographers - level up, son</title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag  :defaults %>
  
  <meta name="author" content="Andrés Bonilla">
  <meta name="subject" content="Photography">
  <meta name="Description" content="A community site for both established and aspiring photographers to upload photos and level up as they rank each other's work.">
  <meta name="Classification" content="Photography, amatuer photography">
  <meta name="Keywords" content="photography">
  <meta name="Geography" content="United States">
  <meta name="Language" content="English">
  <meta name="Revisit-After" content="1">
  <meta name="distribution" content="Global">
  <meta name="Robots" content="INDEX,FOLLOW">
  <meta name="country" content="United States">
  <meta name="rank" content="1">
  <meta name="keywords" content="photo, photography, photographer, pic, picture, share, heart, rank, level, reputation, professional, amateur, digital, analog, film, community, crowdsource, social" >

</head>